{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<form action="{% url 'index' %}" method="GET">
    <label for="category-select">Select a category:</label>
    <select name="category" id="category-select">
        <option disabled selected value>Select a category</option>
        {% for key, value in categories %}
        <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
    </select>
    <input type="submit">
</form>

<div class="auction_listings_container">
    {% for auction in auctions %}
    <a href="{% url 'listing' auction.id %}">
        <div class="list_view_container">
            <div>
                <h3>{{ auction.name }}</h3>
                <p>{{ auction.description }}</p>
                <span>The current bid is: £{{ auction.starting_bid }}</span>
            </div>
            {% if auction.image %}
                <img src="{{ auction.image }}" alt="{{ auction.name }}" class="list_image">
            {% else %}
                <img src="https://i.stack.imgur.com/y9DpT.jpg" alt="no image available" class="list_image">
            {% endif %}
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}